<ion-content class="detail-screen">
	<div class="img">
		<img src="assets/images/small-bottle.jpg" alt="">
	</div>
	<ion-list>
		<ion-item>
			<div class="wrap">
				<h3>Brand:</h3>
				<p>Govrmet</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="wrap">
				<h3>Volume:</h3>
				<p>1.5L</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="wrap">
				<h3>Package:</h3>
				<p>6 bottles</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="wrap">
				<h3>Water type:</h3>
				<p>Mineral Water</p>
			</div>
		</ion-item>
	</ion-list>
	<p class="desc">
		Explore the taste of natural luxury sourced <br> directly from the mighty Himalayers.
	</p>	
</ion-content>
<ion-footer class="detail-screen-footer">
	<ion-grid>
		<ion-row>
			<ion-col size="3">
				<p>360 RPK</p>
			</ion-col>
			<ion-col size="3">
				<div class="add-cart-items">
					<button>+</button>
					<input type="number" value="1" name="">
					<button>-</button>
				</div>
			</ion-col>
			<ion-col size="4">
				<ion-button class="btn btn-pimary" fill="clear">Check Out</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
