<ion-header class="absolute bg-blue" mode="ios">
	<ion-toolbar class="bg-blue">
		<ion-button class="back-arrow">
			<i class="las la-arrow-left"></i>
		</ion-button>
	</ion-toolbar>	
</ion-header>
<ion-content class="bg-blue entercode" mode="ios">
	<div class="logo">
		<img src="assets/images/logo-white.svg" alt="">
	</div>
	<div class="content-box">
		<h2>Enter Code</h2>
		<p>We've sent SMS with activation code <br> to your phone <b> +91 2056668878</b>
			<span>
				PASTE FROM SMS <b>0349</b>
			</span>			
		</p>
		<ion-item>
			<div class="wrap">
				<ul>
					<li>
						<input type="number" class="form-control">
					</li>
					<li>
						<input type="number" class="form-control">
					</li>
					<li>
						<input type="number" class="form-control">
					</li>
					<li>
						<input type="number" class="form-control">
					</li>
				</ul>
			</div>
		</ion-item>

		<h6>Please enter 4-digit code we sent on your number as SMS</h6>
		<span>Didn't receive code?<b>Requset a call</b></span>
		<ion-item>
			<ion-button fill="clear" class="btn btn-pimary d-block">Send Code</ion-button>	
		</ion-item>
	</div>

</ion-content>
