<ion-header mode="ios">
  	<ion-toolbar class="search-head">
  		<div class="d-flex">
	  		<div class="user-dropdown">
				<div class="img">
					N
					<!-- <img src="assets/images/large-bottle.png" alt=""> -->
				</div>
	          	<ion-select interface="popover" placeholder="NOMAN">
		        	<ion-select-option value="nes">ORDERS</ion-select-option>
		        	<ion-select-option value="n64">LOGOUT</ion-select-option>
		        </ion-select>
	    	</div>
	    	<div class="align-items">
	    		<i class="las la-search"></i>
	    		<!-- <input type="text" placeholder="Search..." class="search" name=""> -->
	    		<i class="las la-shopping-cart"></i>
	    	</div>
    	</div>
  	</ion-toolbar>
</ion-header>

<ion-content class="store" mode="ios">
	<div class="add-banner">
		<div class="image">
			<img src="assets/images/water-purifines.png" alt="">
		</div>
		<ion-slides pager>
			<ion-slide>
				<div class="caption">
					<h3>UP TO 50% OFF</h3>
					<p>FREE SHIPPING ON <br> WATER PURIFIERS</p>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="caption">
					<h3>UP TO 50% OFF</h3>
					<p>FREE SHIPPING ON <br> WATER PURIFIERS</p>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="caption">
					<h3>UP TO 50% OFF</h3>
					<p>FREE SHIPPING ON <br> WATER PURIFIERS</p>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
	<ion-grid class="padding-0">
		<ion-row>
			<ion-col size="12">
				<div class="box large">
					<div class="img">
						<img src="assets/images/delivery-icon.png" alt="">
					</div>
					<p>Fast Order</p>
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="box">
					<div class="img">
						<img src="assets/images/large-bottle.png" alt="">
					</div>
					<p>Large Bottled Water</p>
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="box">
					<div class="img">
						<img src="assets/images/small-bottle.jpg" alt="">
					</div>
					<p>Bottled Water</p>
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="box">
					<div class="img">
						<img src="assets/images/large-bottle.png" alt="">
					</div>
					<p>Coolers & equipments</p>
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="box">
					<div class="img">
						<img src="assets/images/small-bottle.jpg" alt="">
					</div>
					<p>Additional Products</p>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
