<ion-header class="absolute bg-blue" mode="ios">
	<ion-toolbar class="bg-blue">
		<ion-button class="back-arrow">
			<i class="las la-arrow-left"></i>
		</ion-button>
	</ion-toolbar>	
</ion-header>
<ion-content class="bg-blue login signup" mode="ios">
	<div class="logo">
		<img src="assets/images/logo-white.svg" alt="">
	</div>
	<div class="content-box">
		<h2>Sign Up<span>to start working</span></h2>
		<form>
			<ion-item>
				<div class="wrap">
					<label>Name *</label>
					<input type="text" class="form-control" name="">
				</div>
			</ion-item>
			<ion-item>
				<div class="wrap">
					<label>Email *</label>
					<input type="email" class="form-control" name="">
				</div>
			</ion-item>
			<ion-item>
				<div class="wrap">
					<label>Phone Number *</label>
					<input type="number" class="form-control" name="">
				</div>
			</ion-item>
			<ion-item>
				<ion-button fill="clear" class="btn btn-pimary d-block">Sign up</ion-button>	
			</ion-item>
		</form>
	</div>

</ion-content>
