<ion-content class="get-started" mode="ios">
	<div class="center-align">
		<ion-slides pager >
			<ion-slide>
				<div class="logo">
					<img src="assets/images/logo-blue.svg" alt="">
				</div>
				<h2>Welcome To Wadoor</h2>
				<p>
					Home and  Office bottled water <br> delivery service in pakistan
				</p>
			</ion-slide>

			<ion-slide>
				<div class="logo">
					<img src="assets/images/logo-blue.svg" alt="">
				</div>
				<h2>Fast Delivery</h2>
				<p>
					Wadoor provides intra-city water <br> delivery within 60 minutes</p>
			</ion-slide>

			<ion-slide>
				<div class="logo">
					<img src="assets/images/logo-blue.svg" alt="">
				</div>
				<h2>Free Installation</h2>
				<p>
					Free installation and repair of <br> coller equipments</p>
			</ion-slide>
		</ion-slides>
	</div>
</ion-content>

<!-- 1-step -->
<!-- <ion-footer class="get-started">
	<ion-grid>
		<ion-row class="space-between">
			<ion-col size="5">
				<ion-button fill="clear" class="btn btn-white">Skip</ion-button>
			</ion-col>
			<ion-col size="5">
				<ion-button fill="clear" class="btn btn-pimary">Next &nbsp; <i class="las la-arrow-right"></i></ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>	
</ion-footer> -->

<!-- 2-step -->
<!-- <ion-footer class="get-started">
	<ion-grid>
		<ion-row class="space-between">
			<ion-col size="5">
				<ion-button fill="clear" class="btn btn-white">Skip</ion-button>
			</ion-col>
			<ion-col size="5">
				<ion-button fill="clear" class="btn btn-pimary">Next &nbsp; <i class="las la-arrow-right"></i></ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>	
</ion-footer> -->

<!-- 3-step -->
<ion-footer class="get-started">
	<ion-button fill="clear" class="btn btn-pimary">Sign in</ion-button>
</ion-footer>
