<ion-header>
  	<ion-toolbar class="search-head inner-head">
  		<div class="d-flex">
	  		<ion-button class="back-arrow">
	  			<i class="las la-arrow-left"></i>
			</ion-button>
			<ion-title><p>Botted Water</p></ion-title>
		    <div class="add-cart">
		    	<i class="las la-shopping-cart"></i>
		    </div>
	    </div>
  	</ion-toolbar>
  	<div class="search-wrapper">
  		<input type="text" placeholder="Search Company" name="">
  		<i class="las la-search"></i>
  	</div>
</ion-header>

<ion-content class="listing">
	<ion-card>
		<ion-card-content>
			<div class="img">
				<img src="assets/images/large-bottle.png" alt="">
			</div>
			<div class="desc">
				<h3>Gourmet </h3>
				<h3>Lorem ipsum, or lipsum is dummy text</h3>
				<h3>500 RPK</h3>
				<div class="add-cart-items">
					<button>+</button>
					<input type="number" value="1" name="">
					<button>-</button>
				</div>
			</div>
			<div class="button-row">
				<button class="btn-detail">Details</button>
			</div>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<div class="img">
				<img src="assets/images/large-bottle.png" alt="">
			</div>
			<div class="desc">
				<h3>Gourmet </h3>
				<h3>Lorem ipsum, or lipsum is dummy text</h3>
				<h3>500 RPK</h3>
				<div class="add-cart-items">
					<button>+</button>
					<input type="number" value="1" name="">
					<button>-</button>
				</div>
			</div>
			<div class="button-row">
				<button class="btn-detail">Details</button>
			</div>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<div class="img">
				<img src="assets/images/large-bottle.png" alt="">
			</div>
			<div class="desc">
				<h3>Gourmet </h3>
				<h3>Lorem ipsum, or lipsum is dummy text</h3>
				<h3>500 RPK</h3>
				<div class="add-cart-items">
					<button>+</button>
					<input type="number" value="1" name="">
					<button>-</button>
				</div>
			</div>
			<div class="button-row">
				<button class="btn-detail">Details</button>
			</div>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<div class="img">
				<img src="assets/images/large-bottle.png" alt="">
			</div>
			<div class="desc">
				<h3>Gourmet </h3>
				<h3>Lorem ipsum, or lipsum is dummy text</h3>
				<h3>500 RPK</h3>
				<div class="add-cart-items">
					<button>+</button>
					<input type="number" name="">
					<button>-</button>
				</div>
			</div>
			<div class="button-row">
				<button class="btn-detail">Details</button>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-footer>
	<ion-button fill="clear" class="btn btn-pimary">Check Out</ion-button>
</ion-footer>