<ion-header class="absolute bg-blue" mode="ios">
	<ion-toolbar class="bg-blue">
		<ion-button class="back-arrow">
			<i class="las la-arrow-left"></i>
		</ion-button>
	</ion-toolbar>	
</ion-header>
<ion-content class="bg-blue login" mode="ios">
	<div class="logo">
		<img src="assets/images/logo-white.svg" alt="">
	</div>
	<div class="content-box">
		<h2>Sign in<span>to start working</span></h2>
		<p>Enter a phone number to get a text <br> message with a verification code</p>
		
		<form>
			<ion-item>
				<div class="wrap">
					<input type="number" class="form-control" placeholder="Enter Phone Number" name="">
					<!-- <div class="error">Error</div> -->
				</div>
			</ion-item>
		</form>
		
		<ion-item>
			<ion-button fill="clear" class="btn btn-pimary d-block">Continue</ion-button>	
		</ion-item>
	</div>

</ion-content>
