<ion-header mode="ios">
  	<ion-toolbar class="search-head inner-head">
  		<div class="d-flex">
	  		<ion-button class="back-arrow" (click)="onClickBack()">
	  			<i class="las la-arrow-left"></i>
			</ion-button>
			<ion-title><p>Cart</p></ion-title>
		    <div class="add-cart">
		    	<i class="las la-shopping-cart"></i>
		    	<span>0</span>
		    </div>
	    </div>
  	</ion-toolbar>
</ion-header>

<ion-content class="listing cart" mode="ios">
	<ion-item-sliding>
    	<ion-item>
		    <ion-card>
				<ion-card-content>
					<div class="img">
						<img src="assets/images/large-bottle.png" alt="">
					</div>
					<div class="desc">
						<h3 class="title">Gourmet </h3>
						<div class="add-cart-items">
							<button>+</button>
							<input type="number" value="1" name="">
							<button>-</button>
						</div>
						<h3>1.5L - pack of bottles</h3>
						<div class="button-row">
							<p>360 RPK</p>
							<button class="btn-detail" (click)="onClick()">Details</button>
						</div>
					</div>
				</ion-card-content>
			</ion-card>
	    </ion-item>

    	<ion-item-options side="end">
      		<ion-item-option><i class="las la-trash-alt"></i></ion-item-option>
    	</ion-item-options>
  	</ion-item-sliding>

  	<ion-item-sliding>
    	<ion-item>
		    <ion-card>
				<ion-card-content>
					<div class="img">
						<img src="assets/images/large-bottle.png" alt="">
					</div>
					<div class="desc">
						<h3 class="title">Gourmet </h3>
						<div class="add-cart-items">
							<button>+</button>
							<input type="number" value="1" name="">
							<button>-</button>
						</div>
						<h3>1.5L - pack of bottles</h3>
						<div class="button-row">
							<p>360 RPK</p>
							<button class="btn-detail" (click)="onClick()">Details</button>
						</div>
					</div>
				</ion-card-content>
			</ion-card>
	    </ion-item>

    	<ion-item-options side="end">
      		<ion-item-option><i class="las la-trash-alt"></i></ion-item-option>
    	</ion-item-options>
  	</ion-item-sliding>

  	<ion-item-sliding>
    	<ion-item>
		    <ion-card>
				<ion-card-content>
					<div class="img">
						<img src="assets/images/large-bottle.png" alt="">
					</div>
					<div class="desc">
						<h3 class="title">Gourmet </h3>
						<div class="add-cart-items">
							<button>+</button>
							<input type="number" value="1" name="">
							<button>-</button>
						</div>
						<h3>1.5L - pack of bottles</h3>
						<div class="button-row">
							<p>360 RPK</p>
							<button class="btn-detail" (click)="onClick()">Details</button>
						</div>
					</div>
				</ion-card-content>
			</ion-card>
	    </ion-item>

    	<ion-item-options side="end">
      		<ion-item-option><i class="las la-trash-alt"></i></ion-item-option>
    	</ion-item-options>
  	</ion-item-sliding>

  	<ion-item-sliding>
    	<ion-item>
		    <ion-card>
				<ion-card-content>
					<div class="img">
						<img src="assets/images/large-bottle.png" alt="">
					</div>
					<div class="desc">
						<h3 class="title">Gourmet </h3>
						<div class="add-cart-items">
							<button>+</button>
							<input type="number" value="1" name="">
							<button>-</button>
						</div>
						<h3>1.5L - pack of bottles</h3>
						<div class="button-row">
							<p>360 RPK</p>
							<button class="btn-detail" (click)="onClick()">Details</button>
						</div>
					</div>
				</ion-card-content>
			</ion-card>
	    </ion-item>

    	<ion-item-options side="end">
      		<ion-item-option><i class="las la-trash-alt"></i></ion-item-option>
    	</ion-item-options>
  	</ion-item-sliding>
	

</ion-content>

<ion-footer class="cart-footer" mode="ios">
	<ion-grid>
		<ion-row>
			<ion-col size="4">
				<p>
					Total:
					<span>1300 RPK</span>
				</p>
			</ion-col>
			<ion-col size="5">
				<ion-button fill="clear" class="btn btn-pimary" (click)="onClickDetail()">Check Out</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>