<ion-content class="rating login" mode="ios">
	<div class="logo">
		<img src="assets/images/logo-white.svg" alt="">
	</div>
	<div class="content-box">
		<h2>What is your rate?</h2>
		<div class="rate-icon">
			<i class="las la-star"></i>
			<i class="las la-star"></i>
			<i class="las la-star"></i>
			<i class="las la-star"></i>
			<i class="las la-star"></i>
		</div>
		<h2>Please share your opinion <br> about the product</h2>
		<ion-item>
			<textarea placeholder="Your review"></textarea>
		</ion-item>
		<ion-item>
			<div class="wrap">
				<div class="upload">
					<i class="las la-camera"></i>
					<input type="file" name="">
				</div>
				<p>Add your photo</p>
			</div>
		</ion-item>
		<ion-button fill="clear" class="btn btn-pimary">SEND REVIEW</ion-button>
	</div>
</ion-content>
